// ------colors------
$primary: #000;
$secondary: #a18a68;
$light: #9ca3af;
// ------colors:end------

// ------link------
$link-decoration: none;
// ------link:end------

// ------form------
.form-control {
  &:focus {
    box-shadow: none !important;
  }
}
// ------form:end------

// ------container------
$container-padding-x: 2rem;
// ------container:end------

// ------nav------
$navbar-brand-font-size: 1.5625rem;
$nav-link-font-size: 1.25rem;
// ------nav:end------

// ------vertical rule------
$vr-border-width: 2px;
// ------vertical rule------
