// ------colors------
$primary: #000;
$secondary: #a18a68;
$light: #9ca3af;
// ------colors:end------

// ------link------
$link-decoration: none;
// ------link:end------

// ------form------
.form-control {
  &:focus {
    box-shadow: none !important;
  }
}
// ------form:end------

// ------img------
.img-square {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}
// ------img:end------

// ------ratio------
.ratio-1x1 {
  aspect-ratio: 1/1;
}
// ------ratio:end------

// ------container------
$container-padding-x: 2rem;
// ------container:end------

// ------nav------
$navbar-brand-font-size: 1.5rem;
$nav-link-font-size: 1.1rem;
// ------nav:end------

// ------vertical rule------
// $vr-border-width: 2px;
// ------vertical rule------
