$carousel-indicators-circle-width: 10px;
$carousel-indicators-circle-height: 10px;

.carousel {
  // @include media-breakpoint-up(lg) {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   gap: 1rem;
  //   width: 50%;
  // }
}

.carousel-indicators {
  position: relative;
  margin: 0;
  gap: 0.5rem;

  // @include media-breakpoint-up(lg) {
  //   flex: 1 1 20%;
  //   flex-direction: column;
  // }

  [data-bs-target] {
    flex: 1;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    text-indent: 0;
    background-color: #707070;

    // @include media-breakpoint-up(lg) {
    //   flex: 1 1 20%;
    // }
  }

  &--circle {
    position: absolute;
    gap: 0;

    [data-bs-target] {
      flex: 0 1 auto;
      width: $carousel-indicators-circle-width;
      height: $carousel-indicators-circle-height;
      margin-right: $carousel-indicator-spacer;
      margin-left: $carousel-indicator-spacer;
      text-indent: -999px;
      background-color: $carousel-indicator-active-bg;
      border-radius: 50%;
    }
  }
}
